<app-navigation></app-navigation>
<div class="container">

  <router-outlet></router-outlet>
</div>
<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <div class="container p-4">
    <section class="mb-4">
      <p>
        Contact Us:
      </p>
    </section>
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/lehahung2000/" role="button">
        <i class="fab fa-facebook-f"></i>
      </a>
      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
        <i class="fab fa-linkedin-in"></i>
      </a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/hahungle2khust/btlCNweb20211" role="button">
        <i class="fab fa-github"></i>
      </a>
    </section>

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        Bài tập lớn môn Công nghệ Web và dịch vụ trực tuyến - Nhóm 16
      </p>
    </section>
  </div>


  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="https://study.soict.ai/courses/course-v1:SoICT+IT4409+2020-2/about">CN Web 20211</a>
  </div>
</footer>
